body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00A8A8;
  text-decoration: none;
}

.centered {
  margin: 0 auto;
}

/* Default styles for the menu */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  /* margin-left: -14px; */
  overflow: hidden;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #00A8A8;
}