{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ .Content }}
{{ range .Pages }}

<!-- display the post titles like [categories][date][title] -->
<h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
<h4>
  <!-- {{ range .Params.categories }}
  <a href="{{ " /categories/" | relLangURL }}{{ . | urlize }}">[{{ . }}]</a>
  {{ end }} -->

  <!-- only display date in Home and Posts tab -->
  {{ if or (eq .Section "home") (eq .Section "posts") }}
  {{ .Date.Format "2006-01-02" }}
  {{ end }}
</h4>

{{ .Summary | truncate 200 | markdownify }}

{{ end }}
{{ end }}